@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --DarkBlueDarkModeElements: hsl(209, 23%, 22%);
   --VeryDarkBlueDarkModeBackground:hsl(207, 26%, 17%) ;
   --VeryDarkBlueLightModeText:hsl(200, 15%, 8%); 
   --DarkGrayLightModeInput:hsl(0, 0%, 52%);--VeryLightGrayLightModeBackground:hsl(0, 0%, 98%);
   --WhiteDarkModeTextLightModeElements:hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "nunito sans", sans-serif;
  background-color: var(--VeryDarkBlueDarkModeBackground);
  color: var(--WhiteDarkModeTextLightModeElements);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 40px;
}

.country{
  border-radius: 5px;
  overflow: hidden;
}

.country.text{
  margin-top: -10px;
  padding: 30px;
  background: var(--DarkBlueDarkModeElements);
}

h3{
  font-weight: 900;
  margin-bottom: 10px;
}

h4{
  font-weight: 600;
}

span{
  font-weight: 200;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--DarkBlueDarkModeElements);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.100);
}

.mode{
  display: flex;
  align-items: center;

}

.space{
  width: 10px;
}

.filter-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: var(--DarkBlueDarkModeElements);
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.100);
}

.search-input{
  border:none;
  background: transparent;
}

.search-input::placeholder{
  font-family: "nunito sans" , sans-serif;
  color: var(--WhiteDarkModeTextLightModeElements);
  font-weight: 200;
}

.filter{
  
}

@media (min-width:650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width:950px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}